<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Eventos</key>
	<array>
		<dict>
			<key>imagem</key>
			<string></string>
			<key>titulo</key>
			<string>Gioconda Venuta</string>
			<key>data</key>
			<string>30/01/2013</string>
			<key>sobre</key>
			<string>blah blah blah</string>
			<key>descricao</key>
			<array>
				<dict>
					<key>tipo</key>
					<string>open bar</string>
					<key>texto</key>
					<string>Belvedere Black Label Jack Daniel&apos;s Finlandia Finlandia Flavors Chandon</string>
				</dict>
				<dict>
					<key>tipo</key>
					<string>vendas</string>
					<key>descricao</key>
					<string>O DAGV em parceiria com aaTag desenvolveu um novo sistema de vendas para tornar sua entrada na festa mais fácil, segura e divertida! Fique atento às surpresas e promoções nos dias da venda!</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>imagem</key>
			<string></string>
			<key>titulo</key>
			<string>Gioconda Venuta 2</string>
			<key>data</key>
			<string>15/02/2013</string>
			<key>sobre</key>
			<string>blah blah blah</string>
			<key>descricao</key>
			<array>
				<dict>
					<key>tipo</key>
					<string>open bar</string>
					<key>descricao</key>
					<string>Belvedere Black Label Jack Daniel&apos;s Finlandia Finlandia Flavors Chandon</string>
				</dict>
				<dict>
					<key>tipo</key>
					<string>vendas</string>
					<key>descricao</key>
					<string>O DAGV em parceiria com aaTag desenvolveu um novo sistema de vendas para tornar sua entrada na festa mais fácil, segura e divertida! Fique atento às surpresas e promoções nos dias da venda!</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Noticias</key>
	<array>
		<dict>
			<key>titulo</key>
			<string>Calendário de provas finais unificadas</string>
			<key>noticia</key>
			<string>A coordenação da FGV liberou hoje, no aluno online, as datas da provas finais, juntamente com as salas que serão realizadas e o horário.</string>
			<key>data</key>
			<string>08/01/2013</string>
			<key>hora</key>
			<string>11:00</string>
		</dict>
	</array>
	<key>Mais - Itens</key>
	<array>
		<string>Clube de benefícios</string>
		<string>Projetos</string>
		<string>Financeiro</string>
		<string>Documentos</string>
		<string>Links</string>
	</array>
	<key>Mais - Descritivo</key>
	<dict>
		<key>Clube de benefícios</key>
		<array>
			<dict>
				<key>classificacao</key>
				<string>Bares</string>
				<key>imagem</key>
				<string></string>
				<key>nome</key>
				<string>Devassa - Bela Cintra</string>
				<key>endereço</key>
				<string>Rua Bela Cintra, 1579 - Jardins</string>
				<key>dias de promocao</key>
				<string>Todos os dias da semana</string>
				<key>numero de acompanhantes</key>
				<string>Aluno + todos acompanhantes</string>
				<key>produtos da promocao</key>
				<string>Desconto na conta</string>
				<key>desconto</key>
				<string>15%</string>
				<key>site</key>
				<string>www.devassa.com.br</string>
			</dict>
			<dict>
				<key>classificacao</key>
				<string>Bares</string>
				<key>imagem</key>
				<string></string>
				<key>nome</key>
				<string>Exquisito - Bela Cintra</string>
				<key>endereço</key>
				<string>Rua Bela Cintra, 532 - Consolação</string>
				<key>dias de promocao</key>
				<string>Todos os dias da semana</string>
				<key>numero de acompanhantes</key>
				<string>Aluno + todos acompanhantes</string>
				<key>produtos da promocao</key>
				<string>Desconto na conta</string>
				<key>desconto</key>
				<string>15%</string>
				<key>site</key>
				<string>www.devassa.com.br</string>
			</dict>
			<dict>
				<key>classificacao</key>
				<string>Restaurantes</string>
				<key>imagem</key>
				<string></string>
				<key>nome</key>
				<string>Las Chicas - Oscar Freire</string>
				<key>endereço</key>
				<string>Rua Oscar Freire, 1607 - Pinheiros</string>
				<key>dias de promocao</key>
				<string>Todos os dias da semana</string>
				<key>numero de acompanhantes</key>
				<string>1 acompanhante</string>
				<key>produtos da promocao</key>
				<string>Coca-Cola</string>
				<key>desconto</key>
				<string>20%</string>
				<key>site</key>
				<string></string>
			</dict>
		</array>
		<key>Projetos</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Provas parciais unificadas</string>
				<key>noticia</key>
				<string>A coordenação da FGV liberou hoje, no aluno online, as datas da provas finais, juntamente com as salas que serão realizadas e o horário.</string>
				<key>imagem</key>
				<string></string>
			</dict>
		</array>
		<key>Financeiro</key>
		<array>
			<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
			<string>www.dagv.com.br/BALANÇO-NOVEMBRO</string>
			<string>www.dagv.com.br/BALANÇO-FINAL-GESTÃO</string>
		</array>
		<key>Documentos</key>
		<array>
			<array>
				<string>Lorem Ipsum Dolor</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
			</array>
			<array>
				<string>Consectetuer Adipiscing</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
			</array>
		</array>
		<key>Links</key>
		<array>
			<array>
				<string>Sed diam</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
			</array>
			<array>
				<string>Magna Aliquam</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
				<string>www.dagv.com.br/BALANÇO-OUTUBRO</string>
			</array>
		</array>
	</dict>
	<key>Mais - Classificacao</key>
	<array>
		<string>Bares</string>
		<string>Restaurantes</string>
	</array>
</dict>
</plist>
